rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null && resource.data.role == "doctor";
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /patients/{patientId} {
      // Patients collection requires user authorization mapping to the creator
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      
      match /medicalRecords/{recordId} {
      	// Must inherit the parent patient's userId check tightly
        allow read, write: if request.auth != null && get(/databases/$(database)/documents/patients/$(patientId)).data.userId == request.auth.uid;
      }
    }
    
    match /appointments/{appointmentId} {
      allow create: if request.auth != null && request.resource.data.patientId == request.auth.uid;
      allow read, update: if request.auth != null && (resource.data.patientId == request.auth.uid || resource.data.doctorId == request.auth.uid);
    }
    
    match /inventory/{userId}/medicines/{medicineId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
